* {
    box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    height: 100px;
    width: 100%;
    background-color: #FA8072;
    position: fixed;
    top: 0;
    z-index: 10;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
    margin-right: -25px;
}

.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: black;
    display: block;
    float: left;
    font-size: large;
    font-weight: bold;
}

.top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url("https://thecatapi.com/api/images/get?format=src&type=gif");
    background-size: cover;
    text-align: center;
}

footer {
    background-color: #FA8072;
    padding-top: 30px;
    padding-bottom: 20px;
}